{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react", "jest"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "avoidEscape": true,
    "no-console": 0,
    "allowTemplateLiterals": true,
    "react/prop-types": 1,
    "react/prefer-stateless-function": 1
  },
  "env": {
    "jest/globals": true
  }
}
