$text-color: #292b2d;
$story-background-color: #f6f6f6;
$footer-background-color: #fafafa;
$background-color: #fff;
$button-text: #990000;
$story-border: #cc0000;

$title-color-hover: #cc0000;
$category-hover: #1e3781;
$button-more-hover: #2a4bae;

$link-color-active: #979595;

$customise-btn-background: #cdcdcd;
