@import "colours";
@import "fonts";

.customise-component {
  h3 {
    border-top: 1px solid #dae2e6;
    border-bottom: 1px solid #dae2e6;
    background-color: $footer-background-color;
    padding: 1.2rem 0;
    font-size: 1.5rem;
    margin-top: 0;
  }
  p {
    margin-top: 1rem;
    line-height: 1.1rem;

    strong {
      color: $title-color-hover;
    }
  }

  .category-form {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .cat-checkboxes {
      margin: 1rem;
      background-color: $story-background-color;
      padding: 0.5rem;
      .checkbox-wrap {
        margin-bottom: 0.3rem;

        input[type="checkbox"].category-checkbox {
          position: absolute;
          z-index: -1000;
          left: -1000px;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          padding: 0;
          border: 0;
        }

        input[type="checkbox"].category-checkbox + label.category-label {
          padding-left: 23px;
          height: 18px;
          display: inline-block;
          line-height: 18px;
          background-repeat: no-repeat;
          background-position: 0 0;
          vertical-align: middle;
          cursor: pointer;
          text-transform: capitalize;
          font-size: 0.9rem;
        }

        input[type="checkbox"].category-checkbox:checked
          + label.category-label {
          background-position: 0 -18px;
        }

        label.category-label {
          background-image: url(/images/black-csscheckbox.png);
          user-select: none;
        }
      }
    }
    .interests-input div {
      margin: 0 0 1.5rem 1rem;

      label {
        margin-right: 0.5rem;
        font-size: 1.1rem;
      }
      input {
        padding-left: 0.5rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
        font-family: inherit;
        border: 1px solid black;
        border-radius: 3px;
        outline: none;
      }
    }
    .buttons-wrap {
      display: flex;
      justify-content: flex-start;
      margin: 0 1rem 1rem 1rem;

      .interests-btn {
        color: black;
        margin-right: 2rem;
        border-radius: 0.2rem;
        display: inline-block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        text-decoration: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        background-color: $customise-btn-background;
        color: $text-color;
        font-size: 0.9rem;
      }
      .interests-btn:hover {
        background-color: $button-more-hover;
        color: $background-color;
      }

      .interests-btn-clear:hover {
        background-color: $title-color-hover;
        color: $background-color;
      }

      .interests-btn:active {
        position: relative;
        top: 1px;
      }
      .interests-btn:focus {
        outline: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .customise-component {
    p {
      width: 75%;
    }
    .category-form {
      display: flex;
      flex-direction: column;
      .cat-checkboxes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem;
        .checkbox-wrap {
          width: 45%;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .customise-component {
    .category-form {
      .cat-checkboxes {
        .checkbox-wrap {
          width: 30%;
        }
      }
    }
  }
}
