@import 'colours';
@import 'fonts';

.category-heading {
	cursor: pointer;
	text-align: center;
}

.column-width {
	width: 49%
}

.group-active {
	order: -1;
	width: 100%
}
.btn-more {
	margin: 0 auto;
	text-align: center;
	display: block;
	border: none;
	font-size: 1.2rem;
	color: $button-text;
	font-weight: bold;
	background-color: inherit;	
}

@media screen and (min-width: 768px) { 
	.column-width {
		width: 30%;
	}

	.group-active {
		order: -1;
		width: 100%
	}
}


