@import 'colours';
@import 'fonts';


body {
	min-width: 320px;
	font-size: 18px;
	background-color: $background-color;
	font-family: $main-font;
}

.logo {
	font-size: 3rem;
}

.category-group {
	background-color: $category-background-color;
}

h3 {
	color: $text-color;
	font-family: $story-titles;
}

a {
	text-decoration: none;
	color: #000;
}

.hidden {
	display: none;
}

.stories-show {
	display: block;
}
