@import 'colours';
@import 'fonts';


button {
	color: $button-text;
}

body {
	background-color: $background-color;
}

.category-group {
	background-color: $category-background-color;
}

h3 {
	color: $text-color;
	font-family: $story-titles;
}

a {
	text-decoration: none;
	color: #000;
}

.category-heading {
	cursor: pointer;
}

.hidden {
	display: none;
}

.stories-show {
	display: block;
}
