@import 'colours';
@import 'fonts';

.search-bar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid #dae2e6;
	border-bottom: 1px solid #dae2e6;
}

.search-bar .submit-search {
	border-radius: 0px;
}