@import 'colours';
@import 'fonts';

.search-bar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid #dae2e6;
	border-bottom: 1px solid #dae2e6;
}

.bar-wrapper {
	display: flex;
}

.search-bar .submit-search {
	background: none repeat scroll 0 0 transparent;
}

.search-bar .submit-search:hover,
.search-bar .submit-search:focus {
	outline: none;
	border: none;
	background-color: $button-more-hover;
	color: #fff;
}

.search-bar .submit-search:active {
	outline: none;
	background-color: $category-hover;
	color: #fff;
}