@import 'colours';
@import 'fonts';

.story {
	border-top: 2px solid $story-border;
	background-color: $story-background-color;
}
.story-title {
	margin: 0;
	margin-top: 0.1rem;
	color: $text-color;
	font-family: $story-titles;
}

.story-title:hover,
.story-title:focus {
	outline: none;
	color: $title-color-hover;
}

.story-title:active {
	outline: none;
	color: $link-color-active;
}

.story-time {
	font-size: 0.65rem;
}

