@import 'colours';
@import 'fonts';

.story-main-0 {
	order: -1;
	width: 100%;
	margin-bottom: 0.5rem;
}

.story-main-0 .story-main-img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.story-main-1 {
	width: 48%	
}

.story-main-1 .story-main-img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.story-main-2 {
	width: 48%
}

.story-main-2 .story-main-img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.story-main-title {
	font-weight: bold;
}

.story-main-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.story-main-title {
	margin: 0;
	margin-top: 0.1rem;
	color: $text-color;
	font-family: $story-titles;
}

.story-main-title:hover,
.story-main-title:focus {
	outline: none;
	color: $title-color-hover;
}

.story-main-title:active {
	outline: none;
	color: $link-color-active;
}

@media screen and (min-width: 500px) { 
	.story-main-0 .story-main-img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.story-main-1 .story-main-img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.story-main-2 .story-main-img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}