@import 'colours';
@import 'fonts';


.world-header {
	border-top: 1px solid $header-border;
    border-bottom: 1px solid $header-border;
	background-color: $section-background;
	padding: 1.2rem 0 1.2rem 1.2rem;
}

.world-page-title {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

.results-wrapper {
	padding: 0rem 0.7rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.country-name-news {
    font-size: 1rem;
	margin-top: 1rem;
    margin-left: 1.5rem;
}